<h2 id="title">Welcome to Ember</h2>
{{alma-c}}

{{#smart-link-to label="Tell me more" link='http://www.google.com'}}
  <i class="fa fa-angle-right"></i>
{{/smart-link-to}}

{{#smart-link-to label="Tell me more" link='my-route'}}
  <i class="fa fa-angle-right"></i>
{{/smart-link-to}}

{{outlet}}
